#for{
    display: flex;
    gap: 40px;
    background-color: black;
    padding: 10px 20px;
}
#for > p{
    margin-left: 300px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    color: white ;
    text-decoration: underline;
}
#logo{
    height: 50px;
    width: 150px;
}
#logoImg{
    object-fit: cover;
}
